<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bu sayfaya erişmenize izin verilmiyo</h2>
        <p>Ana sayfaya yönlendirilmek için lütfen aşağıdaki butona tıklayınız.</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success" >Ana Sayfa</a>
        </p>
    </div>
</div>