<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Hesap başarıyla oluşturuldu.</h2>
        <p>Artık kimlik bilgilerinizi kullanarak hesabınıza giriş yapabilirsiniz.</p>
        <hr />
        <p>Teşekkürler!</p>
    </div>
</div>