<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Opssss! Sayfa bulunamadı.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Ana Sayfa</a>
    </div>
</div>